.locations{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;


    a{
        text-decoration: none;
    }
}

.place{
    overflow: hidden;
    border-radius: 10px;
    min-width: 280px;
    width:100%;
    position: relative;
    .card-img{
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        min-height: 340px;
        max-height: 1240px;
        
    }
    h3{
        z-index: 1;
        position: absolute;
        font-weight: 700;
        font-size: 18px;
        left: 20px;
        bottom: 20px;
        color: white;
        font-family: 'Montserrat';

    }
    &:after{
        content: "";
        position: absolute;
        top: -4px;
        border-radius: 10px;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.2));
    }
}

/* Responsive */

 @media(max-width: 768px) {
    .locations {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
        background: #FFF;
        padding: 0;
        grid-row-gap: 20px;
    }
    .place{
        .card-img{
            max-height: 255px;
            min-height: 255px;
        }
        h3{
            font-size: 15px;
        }

    }
    
}

