.error{
    color: #ff6060;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat';
    padding-bottom: 80px;

    h1{
        font-size: 288px;
    }

    h4{
        font-size: 36px;
        margin: 30px 0;
    }

    a{
        color: black;
        font-size: 18px;
        text-decoration: underline;
    }

    p{
        padding-top: 50px;
    }

}
/* Responsive */

@media(max-width:480px){
    .error{
        h1{
            font-size: 96px;
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 14px;
        }
    }

}