.locations{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    row-gap: 50px;
    column-gap: 50px;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;


    a{
        text-decoration: none;
    }
}

.location{
    background-image: linear-gradient(#FFFFFF 0%, #0A0A0A 0% , #040404 20.5%, #000000 50%);
    background: transparent;
    border-radius: 10px;
    min-width: 280px;
    width:100%;
    padding-bottom: 10px;
    position: relative;

    .card-img{

        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        min-height: 340px;
    }
    
    h3{
        position: absolute;
        height:52px;
        font-weight: 700;
        font-size: 18px;
        overflow: hidden;
        left:20px;
        bottom: 0px;
        color: white;
        font-family: 'Montserrat';

    }
}

/* Responsive */
@media (max-width: 926px) {
    .logements { 
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    }
}

 @media (max-width: 768px) {
    .logements {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
        background: #FFF;
        padding: 0;
        grid-row-gap: 20px;
    }
    .fiche-logement {
        min-width: 200px;
        height: 255px;
    }
    .fiche-logement img { 
        height: 188px; 
    }
}

@media (max-width: 400px) {
    .fiche-logement { 
        width: 100%; 
    }
    .logements {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin-top: 20px;
        padding: 0;
    }
} 