.location {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.location .fiche-location {
  margin-top: 30px;
}
.location .fiche-location .div-description {
  width: 100%;
  flex-direction: row;
  position: relative;
}
.location .fiche-location .div-description h4 {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
}
.location .fiche-location .div-description h1 {
  color: #ff6060;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 36px;
  white-space: nowrap;
  flex-wrap: wrap;
}
.location .fiche-location .div-description .div-tags {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
}
.location .fiche-location .div-description .div-tags .tags {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  padding-bottom: 2px;
  margin: 10px 20px 0 0;
  height: 25px;
  font-size: 14px;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 700;
}
.location .div-stars {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: #ff6060;
  right: 0;
  top: 0;
}
.location .div-stars p {
  text-align: right;
  font-family: "Montserrat";
  flex-direction: column;
  font-size: 18px;
  width: 93px;
  height: 52px;
  align-items: center;
  text-shadow: 0px 0px 5px rgb(180, 166, 166);
}
.location .div-stars .host {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-top: 15px;
  box-shadow: 0px 0px 10px rgb(175, 136, 136);
  min-height: 0;
}
.location .stars {
  display: flex;
  font-size: 30px;
  gap: 10px;
  text-align: right;
  justify-content: flex-end;
  color: #ff6060;
  position: absolute;
  right: 0;
}
.location .stars .filled {
  color: #ff6060;
  text-shadow: 0px 0px 5px rgb(180, 166, 166);
}
.location .stars .empty {
  color: #e3e3e3;
}
.location .collapseLocation {
  display: flex;
  font-family: "Montserrat";
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.location .collapseLocation .collapse_title {
  font-weight: 700;
  font-size: 18px;
}
.location .collapseLocation .collapse_content {
  font-weight: 400;
  font-size: 18px;
}
.location .collapseLocation .collapse_content ul {
  list-style: none;
}

/* Responsive */
@media (max-width: 480px) {
  .location .compteur-img {
    display: none;
  }
  .location .fiche-location {
    display: flex;
  }
  .location .fiche-location .div-description {
    margin-bottom: 30px;
  }
  .location .fiche-location .div-description .div-tags {
    gap: 10px;
  }
  .location .fiche-location .div-description .div-tags .tags {
    font-size: 10px;
    height: 18px;
    margin: 10px 3px;
    border-radius: 5px;
  }
  .location .fiche-location .div-description h4 {
    font-size: 14px;
    margin: 0;
  }
  .location .fiche-location .div-description h1 {
    font-size: 18px;
  }
  .location .div-stars {
    display: flex;
    justify-content: space-between;
    top: 75px;
  }
  .location .div-stars .host {
    width: 45px;
    height: 45px;
    margin: 0;
  }
  .location .div-stars p {
    font-size: 15px;
  }
  .location .stars {
    align-items: center;
    justify-content: left;
    left: 0;
    top: 100px;
  }
  .location .stars .filled {
    width: 18px;
    height: 18px;
  }
  .location .stars .empty {
    width: 18px;
    height: 18px;
  }
  .location .collapseLocation {
    flex-direction: column;
  }
  .location .collapseLocation .collapse_title {
    font-size: 13px;
  }
  .location .collapseLocation .collapse_content {
    font-size: 13px;
  }
}/*# sourceMappingURL=location.css.map */