@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500&display=swap");
header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header img {
  width: 210px;
  height: 68px;
  margin-top: 10px;
}
header img :hover {
  cursor: pointer;
}
header nav a {
  display: flex;
  color: var(--colorRed);
  text-decoration: none;
  font-size: 24px;
}
header nav ul {
  display: flex;
  padding: 0px;
  gap: 57px;
  list-style: none;
}
header nav li {
  font-weight: 500;
  font-size: 24;
  font-family: "Montserrat";
}
header nav li:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  header img {
    height: 45px;
  }
  header nav {
    justify-content: center;
  }
  header nav a {
    text-transform: uppercase;
    font-size: 12px;
  }
  header nav ul {
    gap: 10px;
  }
}
.footer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 209px;
  background: black;
  color: var(--colorWhite);
  font-size: 24px;
}
.footer .img_footer {
  margin: 0 auto;
}
.footer .img_footer img {
  height: 39px;
  width: 122px;
  color: white;
}
.footer .rights {
  height: 46px;
  text-align: center;
}
.footer .rights p {
  margin-top: 10px;
  color: white;
}

@media (max-width: 768px) {
  .rights p {
    font-size: 12px;
  }
}
.error {
  color: #ff6060;
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
.error h1 {
  font-size: 288px;
}
.error h4 {
  font-size: 36px;
  margin: 30px 0;
}
.error a {
  color: #ff6060;
  font-size: 18px;
  text-decoration: underline;
}
.error p {
  padding-top: 50px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 96px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
.banner {
  height: 223px;
  margin-top: 30px;
  color: white;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
}
.banner h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.about_form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.about_form .about {
  display: flex;
  color: #FF6060;
  flex-direction: column;
  margin-top: 15px;
}

.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.collapse .collapse_title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 28px;
  background-color: #ff6060;
  color: white;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}
.collapse .collapse_title .arrowValue {
  width: 25px;
  height: 15px;
}

.visible {
  display: block;
}
.visible .collapse {
  position: relative;
  top: -10px;
  font-size: 18px;
  color: #ff6060;
  background-color: white;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 20px grey;
  z-index: -1;
}
.visible .collapse ul {
  color: #ff6060;
  padding: 36px 27px 19px 18px;
  margin: 0;
  text-align: justify;
  list-style-type: none;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}/*# sourceMappingURL=App.css.map */