@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext");
header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header .logo {
  width: 210px;
  height: 68px;
  margin-top: 10px;
  min-height: 0;
}
header .logo :hover {
  cursor: pointer;
}
header nav {
  font-family: "Montserrat";
}
header nav a {
  display: flex;
  color: var(--colorRed);
  text-decoration: none;
  font-size: 24px;
}
header nav ul {
  display: flex;
  padding: 0px;
  gap: 57px;
  list-style: none;
}
header nav li {
  font-weight: 500;
  font-size: 24px;
  font-family: "Montserrat";
}
header nav li:hover {
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  header .logo {
    height: 46px;
    width: 145px;
  }
  header nav {
    justify-content: center;
  }
  header nav a {
    text-transform: uppercase;
    font-size: 12px;
  }
}
.footer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 209px;
  background: black;
  color: white;
  font-family: "Montserrat";
  font-size: 24px;
}
.footer .img_footer {
  margin: 0 auto;
}
.footer .img_footer img {
  height: 39px;
  width: 122px;
  color: white;
  min-height: 0;
}
.footer .rights {
  height: 46px;
  text-align: center;
}
.footer .rights p {
  margin-top: 10px;
  color: white;
  font-weight: 500;
  font-family: "Montserrat";
}

/* Responsive */
@media (max-width: 768px) {
  .footer .rights p {
    font-size: 12px;
  }
}
body {
  margin: 0 50px;
}

@media (max-width: 768px) {
  body {
    margin: 0 20px;
  }
}
.main {
  margin: auto;
  max-width: 1240px;
}

@media (max-width: 768px) {
  .main {
    margin: 0;
    max-width: 375px;
  }
}
.about_form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: auto;
  max-width: 1240px;
}
.about_form .about {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-inline: 100px;
  margin-bottom: 15px;
  color: black;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat";
}
.about_form span {
  font-weight: 700;
  font-size: 24px;
  font-family: "Montserrat";
}

@media (max-width: 768px) {
  .about_form {
    margin: 0;
    max-width: 375px;
  }
  .about_form .about {
    padding-inline: 0;
    font-size: 13px;
  }
  .about_form span {
    font-size: 18px;
  }
}
.banner {
  position: relative;
  margin-top: 30px;
  color: white;
  background-position: center;
  background-size: cover;
}
.banner img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 25px;
  filter: brightness(0.5);
}
.banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  font-family: "Montserrat";
  filter: drop-shadow(0px 0px 4px black);
}

@media (max-width: 768px) {
  .banner {
    position: relative;
    margin-top: 0px;
    background-position: left;
    border-radius: 10px;
  }
  .banner img {
    height: 111px;
  }
  .banner h2 {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    left: 20px;
    transform: translate(0, -50%);
    width: 50%;
  }
}
.locations {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  row-gap: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: center;
  background: #F6F6F6;
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 50px;
}
.locations a {
  text-decoration: none;
}
.locations .place {
  overflow: hidden;
  border-radius: 10px;
  min-width: 340px;
  min-height: 340px;
  width: 100%;
  max-height: 1240px;
  position: relative;
}
.locations .place .card-img {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.locations .place h3 {
  z-index: 1;
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  left: 20px;
  bottom: 20px;
  color: white;
  font-family: "Montserrat";
}
.locations .place:after {
  content: "";
  position: absolute;
  top: 0px;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

/* Responsive */
@media (max-width: 768px) {
  .locations {
    grid-template-columns: repeat(auto-fill, 335px);
    background: #FFF;
    padding: 0;
    grid-row-gap: 20px;
  }
  .locations .place .card-img {
    min-height: 255px;
    min-width: 335px;
    height: 100%;
  }
  .locations .place h3 {
    font-size: 15px;
  }
}
.carousel {
  position: relative;
  height: 415px;
  width: 100%;
  margin-top: 30px;
}
.carousel p {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: white;
  margin-top: 340px;
  text-align: center;
  text-shadow: 0px 0px 5px black;
  font-family: "Montserrat";
}
.carousel .image {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.carousel button {
  border: none;
  background-color: transparent;
  color: white;
}
.carousel .arrowleft {
  position: absolute;
  color: white;
  inset: 0;
  top: 40%;
  cursor: pointer;
  left: 0;
  height: 79px;
  width: 46px;
  min-height: 0;
  border: none;
  background-color: transparent;
}
.carousel .arrowright {
  position: absolute;
  color: white;
  inset: 0;
  top: 40%;
  cursor: pointer;
  left: calc(100% - 50px);
  height: 79px;
  width: 46px;
  min-height: 0;
  border: none;
  background-color: transparent;
}

/* Responsive */
@media (max-width: 768px) {
  .carousel {
    height: 255px;
  }
  .carousel .arrowleft {
    top: 50%;
    left: 10px;
    height: 19px;
    width: 11px;
  }
  .carousel .arrowright {
    height: 19px;
    top: 50%;
    width: 11px;
    left: calc(100% - 20px);
  }
  .carousel p {
    top: 70%;
  }
}
.collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.collapse .collapse_title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 28px;
  background-color: #ff6060;
  color: white;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}
.collapse .collapse_title .arrowValue {
  width: 25px;
  height: 15px;
}

.visible {
  display: block;
}
.visible .collapse {
  position: relative;
  top: -10px;
  font-size: 18px;
  color: #ff6060;
  background-color: white;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 20px grey;
  z-index: -1;
}
.visible .collapse ul {
  padding: 36px 27px 19px 18px;
  margin: 0;
  text-align: justify;
}

.hidden {
  display: none;
}

.error {
  color: #ff6060;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  padding-bottom: 80px;
}
.error h1 {
  font-size: 288px;
}
.error h4 {
  font-size: 36px;
  margin: 30px 0;
}
.error a {
  color: black;
  font-size: 18px;
  text-decoration: underline;
}
.error p {
  padding-top: 50px;
}

/* Responsive */
@media (max-width: 768px) {
  .error h1 {
    font-size: 96px;
  }
  .error h4 {
    font-size: 18px;
  }
  .error p {
    font-size: 14px;
  }
}
.location {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 1240px;
}
.location .fiche-location {
  margin-top: 30px;
}
.location .fiche-location .div-description {
  width: 100%;
  flex-direction: row;
  position: relative;
}
.location .fiche-location .div-description h4 {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
}
.location .fiche-location .div-description h1 {
  color: #ff6060;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 36px;
  white-space: nowrap;
  flex-wrap: wrap;
}
.location .fiche-location .div-description .div-tags {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
}
.location .fiche-location .div-description .div-tags .tags {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  padding-bottom: 2px;
  margin: 10px 20px 0 0;
  height: 25px;
  font-size: 14px;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 700;
}
.location .div-stars {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: #ff6060;
  right: 0;
  top: 0;
}
.location .div-stars p {
  text-align: right;
  font-family: "Montserrat";
  flex-direction: column;
  font-size: 18px;
  width: 93px;
  height: 52px;
  align-items: center;
  text-shadow: 0px 0px 5px rgb(180, 166, 166);
}
.location .div-stars .host {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-top: 15px;
  box-shadow: 0px 0px 10px rgb(175, 136, 136);
  min-height: 0;
}
.location .stars {
  display: flex;
  font-size: 30px;
  gap: 10px;
  text-align: right;
  justify-content: flex-end;
  color: #ff6060;
  position: absolute;
  right: 0;
}
.location .stars .filled {
  color: #ff6060;
  text-shadow: 0px 0px 5px rgb(180, 166, 166);
}
.location .stars .empty {
  color: #e3e3e3;
}
.location .collapseLocation {
  display: flex;
  font-family: "Montserrat";
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.location .collapseLocation .collapse_title {
  font-weight: 700;
  font-size: 18px;
}
.location .collapseLocation .collapse_content {
  font-weight: 400;
  font-size: 18px;
}
.location .collapseLocation .collapse_content ul {
  list-style: none;
}

/* Responsive */
@media (max-width: 768px) {
  .location {
    margin: 0;
    max-width: 375px;
  }
  .location .compteur-img {
    display: none;
  }
  .location .fiche-location {
    display: flex;
  }
  .location .fiche-location .div-description {
    margin-bottom: 30px;
  }
  .location .fiche-location .div-description .div-tags {
    gap: 10px;
  }
  .location .fiche-location .div-description .div-tags .tags {
    font-size: 10px;
    height: 18px;
    margin: 10px 3px;
    border-radius: 5px;
  }
  .location .fiche-location .div-description h4 {
    font-size: 14px;
    margin: 0;
  }
  .location .fiche-location .div-description h1 {
    font-size: 18px;
  }
  .location .div-stars {
    display: flex;
    justify-content: space-between;
    top: 83px;
  }
  .location .div-stars .host {
    width: 45px;
    height: 45px;
    margin: 0;
  }
  .location .div-stars p {
    font-size: 15px;
  }
  .location .stars {
    align-items: center;
    justify-content: left;
    left: 0;
    top: 100px;
  }
  .location .stars .filled {
    width: 18px;
    height: 18px;
  }
  .location .stars .empty {
    width: 18px;
    height: 18px;
  }
  .location .collapseLocation {
    flex-direction: column;
  }
  .location .collapseLocation .collapse_title {
    font-size: 13px;
  }
  .location .collapseLocation .collapse_content {
    font-size: 13px;
  }
}/*# sourceMappingURL=main.css.map */